.container{
    display: flex;
    align-items: center;
    gap: 6px;
}

/* image box */
.cat-container{
    width:100px;
    height:100px;
    border:3px solid blue;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cat-image{
    width:100%;
    height:100%;
    border-radius:50%;
    object-fit: cover;
}

/* text box */
.second-container{
    border:3px solid blue;
    width:120px;
    display: flex;
    flex-direction: column;
    height:100px;
}

/* text rows */
.second-container div{
    border:2px solid red;
    padding:4px 6px;
    margin-top:3px;
}

.second-container div:last-child{
    border-bottom:none;
}

p{
    margin:0;
}
