.search-box 
{
    width: 400px;
    font-size: 16px;
    border: none;
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left:12px;
    border-radius:20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    margin-left: 20px;


}