
.email-text 
{
    margin-top: 0px;
    font-size:16px;
    color: gray;
    margin-bottom: 10px;

}
.email-box 
{
    width:300px;
    height:28px;
    border-radius: 5px; 
    border-color: rgb(100, 94, 94);
    border-width: 1px;
    font-size: 16px;
    padding-top:7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    border-style: solid;
}

.normal-text 
{
    font-size:16px;
    color: gray;
    margin-bottom: 20px;
}

.agree-button 
{
    text-align: center;
    color: white;
    background-color: rgb(26, 112, 182);
    font-size: 16px;
    width:300px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;

    
}
.agree-button:hover 
{
    background-color: aquamarine;
}

