.container{
    display:flex;
    flex-direction:row;
    height:50px;

}
.lightpink
{
    width:100px;
    background-color:lightpink;
    display:flex;
    justify-content: center;
    align-items: center;
}
.lightblue
{
    width:200px;
    background-color:lightblue;
}
.item1
{
    background-color:black;
    color:white;
    font-size:16px;
}