.container
{
    display:flex;
    flex-direction:row;
    height:50px;
}

.first-column
{
    width:100px;
    background-color:lightpink;
}

.second-column
{
    width:200px;
    background-color:lightblue;
    display:flex;
    flex-direction:column;
}

.row2
{
    display:flex;
    height:20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}

.row2-item
{
    background-color: black;
    color:white;
    font-size:14px;
}