body {
    background-color: #f5f5f5;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    padding: 40px;
  }

.notifications-card
{
    background: white;
    width: 450px;
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.header
{
    font-size:13px;
    color:#888;
    text-transform:uppercase;
    font-weight:400;
}

.main-content
{
    display:flex;
    flex-direction:row;
    margin-top:20px;
}
.cat-image
{
    width:50px;
    height:50px;
    border-radius:50%;
    margin-right:15px;
}

.sender-row{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}
.sendername
{
    font-size:18px;
    font-weight:750;
}
.timestamp{
    font-size:14px;
    color:#888;
}

.subject{
    font-weight:700;
    font-size:17px;
    color:#111;
    margin-top:1px;

}
.preview
{
    font-size:15px;
    color:#777;
    margin-top:3px;
}