.name-box 
{
    display: block;
    width: 300px;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 20px;

}
.email-box 
{
    width: 300px;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left: 10px;
    display: block;
}