.title 
{
    text-align: center;
}

input 
{
    display: block;
    margin-bottom:10px;
    margin-left:200px;
    width:300px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 16px;
    color: gray;
    border:none;
    border-radius:20px;
    background-color: rgb(244, 237, 222);
}

.request-button 
{
    margin-left:200px;
    margin-top:25px;
    margin-right:10px;
    padding-top:8px;
    padding-bottom:8px;
    color:white;
    background-color: black;
    border:none;
    width:110px;
    font-size:15px;
    cursor: pointer;
}
.request-button:active 
{
    background-color: blueviolet;
}

.later-button 
{
    width:170px;
    background-color: rgb(244, 237, 222);
    border:none;
    font-size: 15px;
    border-radius: 5px;
    text-align: center;
    padding-top:8px;
    padding-bottom: 8px;
    cursor: pointer;
}
.later-button:active 
{
    background-color: brown;
}

