*{
    font-family: arial;
}
.box{
    background-color:black;
    width: 360px;
    padding: 20px 15px 20px 15px;
}

.title{
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.description{
    color: gray;
}