.card
{
    margin:20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    width:120px;
}
.cat-image{
    height:100px;
    width:120px;
   
    
}

.name
{
    font-size:18px;
    margin-left:8px;
    margin-bottom: 4px;
}

.friend-no
{
    color: gray;
    margin-left: 8px;
    margin-bottom:12px;
}
button{
    background-color: rgb(20, 124, 189);
    color: #ffff;
    padding: 5px 10px;
    font-size:14px;
    cursor: pointer;
    margin-left:8px;
    border:none;
    border-radius: 4px;
}
button:active{
    background-color: yellow;
}