.main-div
{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    border:1px solid gray;
    height:50px;
}

.first-div, .second-div{
    background-color: lightpink;
}