.flexbox{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding-top:6px;
    padding-bottom:6px;
    padding-left:12px;
    padding-right:12px;
}
.container
{
    font-family:arial;
    font-size:16px;
    border: 1px solid rgb(200,200,200);
    border-radius:10px;
    width:300px;
}

.notifications{
    background-color: rgb(22, 105, 206);
    color: white;
    padding: 3px 10px 3px 10px;
    border-radius:20px;
    font-size:15px;
    font-weight: bold;     
}