.container{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items:center;
    background-color: rgb(120, 82,178);
    color: #ffff;
    font-size:16px;
    font-family: arial;
    padding:8px 10px 20px 8px;
}
.left-section{
    font-weight: bold;
}

.input-section{
    display:flex;
    width:500px;
    max-width:600px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left:20px;
    margin-right:30px;
    height:35px;
    border-radius:40px;
    border:none;
    padding-left:20px;
    font-size:16px;
}

.download-button{
    background-color: rgb(120, 82,178); 
    color:white;
    padding: 10px 10px 10px 10px;
    font-size:16px;
    border:1px solid white;
    border-radius:1px;
    margin-left:10px;
    

}
.download-button:active{
    background-color:white;
    color: rgb(120, 82,178);
}