.container{
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-bottom:20px;
}
.profile-picture{
    width:50px;
    height:50px;
    object-fit:cover;
    border-radius:25px;
    margin-right:15px;
}

p{
    font-family:arial;
    margin-top:0;
    margin-bottom:0;
}

.info {
  width: 200px;
}

.name {
  font-weight: bold;
  margin-bottom: 3px;
}

.handle {
  color: rgb(150, 150, 150);
  margin-bottom: 5px;
}

.category {
  color: rgb(150, 150, 150);
  font-size: 14px;
}

.follow-button {
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  cursor: pointer;
}
