
.video-title 
{
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    width: 300px;
    line-height: 24px;


}
.channel-name 
{
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    color: gray;
    line-height: 40px; 
    margin-bottom: 5px;

}

.views 
{
    font-family: Arial;
    font-size: 14px;
    color: gray;
    line-height: 0px;
    margin-top: 0px;

}
.normal-text 
{
    color: gray;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    width: 280px;
    margin-bottom: 100px;
}

.text 
{
    margin-bottom: 50px;
    font-size: 14px;
    text-align: center;
    background-color: rgb(218, 31, 31);
    color: white;
    padding-top: 18px;
    padding-bottom: 18px;
    
    
}